# Copyright (c) 2025 Noah Luskey (noah@vvvvvvvvv.io)
# SPDX-License-Identifier: Apache-2.0

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BOARD_T_WATCH_S3_ESP32S3_PROCPU
	default 256 if BOARD_T_WATCH_S3_ESP32S3_APPCPU

config LV_COLOR_16_SWAP
	bool
	depends on LVGL
	default y

config SHELL_STACK_SIZE
	int
	default 4096 if SHELL
