# SPDX-License-Identifier: Apache-2.0

# General System Config
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

# Console
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y

# GPIO
CONFIG_GPIO=y

# Clock Control (verify who/what needs this)
CONFIG_CLOCK_CONTROL=y

# Haptic Motor
CONFIG_HAPTICS=y

# Power
CONFIG_REGULATOR=y

# Display LCD Panel
CONFIG_DISPLAY=y
CONFIG_ST7789V_BGR565=y

# Display Touch Panel
CONFIG_INPUT=y
CONFIG_INPUT_FT5336_INTERRUPT=y

# Display LED Backlight
CONFIG_PWM=y

# IMU
CONFIG_SENSOR=y
CONFIG_SENSOR_ASYNC_API=y
CONFIG_BMA4XX_BOOT_RESET_HACK=y
CONFIG_BMA4XX_DECODER_PATCH_HACK=y

# Real Time Clock
CONFIG_RTC=y

# LoRa & LoRaWAN
CONFIG_LORA=y
CONFIG_LORAWAN=y

# Flash Storage
CONFIG_FLASH=y

# WiFi
CONFIG_NETWORKING=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_WIFI=y
CONFIG_NET_MGMT=y
CONFIG_NET_MGMT_EVENT=y
CONFIG_NET_MGMT_EVENT_INFO=y
CONFIG_NET_L2_WIFI_MGMT=y
