# SPDX-License-Identifier: Apache-2.0

CONFIG_MAIN_STACK_SIZE=2048
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048

CONFIG_BMA4XX_BOOT_RESET_HACK=y
CONFIG_BMA4XX_DECODER_PATCH_HACK=y

CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_GPIO=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PWM=y
CONFIG_HAPTICS=y
CONFIG_REGULATOR=y
CONFIG_DISPLAY=y
CONFIG_ST7789V_BGR565=y
CONFIG_INPUT=y
CONFIG_SENSOR=y
CONFIG_SENSOR_ASYNC_API=y
CONFIG_RTC=y
CONFIG_LORA=y
CONFIG_LORAWAN=y
CONFIG_FLASH=y
CONFIG_NETWORKING=y
CONFIG_NET_L2_ETHERNET=y
CONFIG_WIFI=y
CONFIG_NET_MGMT=y
CONFIG_NET_MGMT_EVENT=y
CONFIG_NET_MGMT_EVENT_INFO=y
CONFIG_NET_L2_WIFI_MGMT=y
