config RMT
    bool "Remote Control Tranceiver Driver"

config RMT_INIT_PRIORITY
    int "RMT initialization priority"
    default KERNEL_INIT_PRIORITY_DEVICE

rsource "Kconfig.esp32"

backend = RMT
backend-str = rmt
source "subsys/logging/Kconfig.template.log_format_config"

